<a href="https://colab.research.google.com/github/kcute121101/king.jpeg/blob/main/10_20_2021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Function

In [54]:
def sum(i1, i2):
    result = 0
    for i in range(i1, i2):
        result += i
    return result

def main():
    print("Sum from 1 to 12 is", sum(1, 12)) 
    print("Sum from 20 to 30 is", sum(20, 30))
    print("Sum from 35 to 40 is", sum(35, 40))

main() # Call the main function

Sum from 1 to 12 is 66
Sum from 20 to 30 is 245
Sum from 35 to 40 is 185

In [21]:
def swap(a,b):
  a,b = b,a
  return (a,b)

if __name__ == '__main__':
    x = 30
    y = 31
    print('x = %d,y = %d' % (x,y))
    x,y = swap(x,y)
    print('x = %d,y = %d' % (x,y))

x = 30,y = 31
x = 31,y = 30

In [69]:
def sort(number1, number2, number3):
       if (number1 < number2) and (number1 < number3):
         if number2 < number3:
           return number1, number2,number3
         else:
          return number1, number3, number2 
       if (number2 < number1) and (number2 < number3):
         if number1 < number3:
           return number2, number1,number3
         else:
           return number2, number3,number1
       if (number3 < number1) and (number3 < number2):
         if number1 < number2:
           return number3, number1,number2    
         else:
           return number3, number2, number1

num1, num2, num3 = sort(40, 30, 20)

print("num1 is ", num1)
print("num2 is", num2)
print("num3 is", num3)

num1 is  20
num2 is 30
num3 is 40

Default argument

In [81]:
def printArea(width = 5, height = 6):
    area = width * height
    print("width:", width, "\theight:", height, "\tarea:", area)

In [82]:
printArea()

width: 5 	height: 6 	area: 30

In [83]:
printArea(width = 5, height = 6)

width: 5 	height: 6 	area: 30

In [84]:
printArea(width = 6, height = 5)

width: 6 	height: 5 	area: 30

In [85]:
printArea(5,6)

width: 5 	height: 6 	area: 30

In [86]:
printArea(6,5)

width: 6 	height: 5 	area: 30

Lambda function

In [89]:
f1 = lambda x, y, z: x+5*y+10*z
print(f1(5,10,15))

205

In [94]:
def myfunc(m):
    return m*m

my_list = [10, 15, 20, 25, 30]


print(list(map(lambda x:myfunc(x), my_list)))

[100, 225, 400, 625, 900]